<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
  <ul>
      <li><% @wizards.each do |wizard| %></li>
        <li><%= wizard %></li>
      <li><% end %></li>
    </ul>
  </body>
</html>
