<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>



      <label for="title">title:</label>
      <input type="text area" id="title" name="title" />
      <br>

       <label for="url">url:</label>
      <input type="text area" id="url" name="url" />
      <br>
      <label for="description">description:</label>
      <input type="text area" id="description" name="description" />

      <input type="submit" />
    </form>
     <h1>Wizard Article Submission</h1>

    <ul>
      <% @wizards.each do |wizard| %>
        <li><%= wizard %></li>
      <% end %>
    </ul>

  </body>
</html>
