<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
       <h1>Wizard Article Submission</h1>
      <form action="/new-wizard-article" method="post">

      <label for="title">title</label>
      <input type="text" id="title" name="title" />
      <br>

       <label for="url">url</label>
      <input type="text" id="url" name="url" />
      <br>
      <label for="description">description</label>
      <input type="text" id="description" name="description" />

      <input type="submit" />
    </form>
    <a href = "http://localhost:9393">See submissions</a>


  </body>
</html>
